/* Container 1 */
.cont1{ 
  
    background: white;
    border-bottom: 4px solid #cccccc;
}
/* Container 2 */
.cont2{
    background: white;
    
}
/* For setting all div margin 0 and padding 0 */
.conreset
{   padding:0;
    margin: 0;
}
/* header text */
.h-text{
    background: #4aaaa5;
    color:white;
    font-size:35px;
}
/* Button */
.btn{
    margin-left:800;
    font-size:20px;
}
/* text in header */
.text1{
    
    background: #4aaaa5;
    color: white;
    padding: 10px;
    margin-left: 100px;
}
/* font in paragraph */
.font1{
    font-size: 25px;
    color:#777777;
}
/* heading in container */
.h11{
    border-bottom: 3px solid #cccccc;
    color:#4aaaa5;
}
/* all images height and width */
.img{
    width: 200px;
    height:200px;
}
/* paragraph font color */
.p1{
    color:#777777;
}
/* Footer fonts */
.footfont{
    background: #777777;
    margin-bottom: 0;
    height: 65px;
    color: white;
    border-top: 2px solid #4aaaa5;
}
/* images height  */
.img1{
   
    height:120px;
}
/* labels in contact forms */
.label1{
    color: white;
    background: #4aaaa5;
    
}
/* labels in contact forms */
.label2{
    color: white;
    background: #4aaaa5;
   
}
/* textarea height */
.txtarea{
    height:70px;
}
