body{
    width: 1400px;
}
.cont1{ 
    /* width: 1400px; */
    background: white;
    border-bottom: 4px solid #cccccc;
}
.cont2{
    background: white;
    /* height:500px; */
}
.size1{
    width: 960px;
    
}
.conreset
{   padding: 0;;
    margin: 0;
}
.h-text{
    background: #4aaaa5;
    color:white;
    font-size:35px;
    

}
.font1{
    font-size: 25px;
    color:#777777;
}
.h11{
    border-bottom: 3px solid #cccccc;
    color:#4aaaa5;
}
.img{
    width: 200px;
    height:200px;
}
.p1{
    color:#777777;
}
.footfont{
    background: #777777;
    margin-bottom: 0;
    height: 50px;
    color: white;
}
.img1{
    width: 180px;
    height:120px;
}