
.cont1{ 
    /* width: 1400px; */
    background: white;
    border-bottom: 4px solid #cccccc;
}
.cont2{
    background: white;
    /* height:500px; */
}
.conreset
{   padding:0;
    margin: 0;
}
.h-text{
    background: #4aaaa5;
    color:white;
    font-size:35px;
    

}
.btn{
    margin-left:800;
    font-size:20px;
}
.text1{
    
    background: #4aaaa5;
    color: white;
    padding: 10px;
    margin-left: 100px;
}
.font1{
    font-size: 25px;
    color:#777777;
}
.h11{
    border-bottom: 3px solid #cccccc;
    color:#4aaaa5;
}
.img{
    width: 200px;
    height:200px;
}
.p1{
    color:#777777;
}
.footfont{
    background: #777777;
    margin-bottom: 0;
    height: 65px;
    color: white;
    border-top: 2px solid #4aaaa5;
}
.img1{
    /* width: 180px; */
    height:120px;
}

.label1{
    color: white;
    background: #4aaaa5;
    /* width:180px; */
    /* height:30px; 
    position: absolute;
    top:105px;
    left:100px; */
}

.label2{
    color: white;
    background: #4aaaa5;
    /* width:180px;
    height:30px; 
    position: absolute;
    top:130px;
    left:100px; */
}

.txtarea{
    height:70px;
}
